* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #3b5490;
}
.table-wrapper {
    display: flex;
    flex-direction: column;
}
.table-header {
    display: flex;
    justify-content: space-between;
}
.table__main-views {
    display: flex;
    flex-direction: row;
}
.table-option {
    background-color: aliceblue;
    padding: 5px;
    border: 0.5px solid white;
    width: 100px;
    height: 50px;
}
.table-logo {
    background-image: url('../images/barclays.png');
    background-repeat: no-repeat;
    width: 180px;
    height: 80px;
}
.table__detail-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.table__detail-title {
    padding: 10px;
}
.table-detail {
    display: flex;
}
.table__current-document {
    display: flex;
    flex-direction: column;
    height: 30px;
}
.table__views-wrapper {
    display: flex;
    margin: 0px;
}
.table-views {
    background-color: aliceblue;
    padding: 5px;
    border: 0.5px solid white;
    width: 100px;
}
.table {
    background-color: blueviolet;
}
.thead-light {
    background-color: #c7cccb;
    color: black;
}
