<div class="jumbotron p-3 p-md-5 text-white rounded text-white text-center" style="background-color: #146aaf;">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Welcome to Etsit Demo App!</h1>
        <p class="lead my-3">Demo to GET and SET properties on a Fabric Blockchain</p>
        <br>
        <p class="lead my-2">Login:</p>
        <p class="lead my-2">User: user</p>
        <p class="lead my-2">Password: secret</p>
        <br>
        <p class="lead my-2">Note: you must register this user within fabric-ca</p>
    </div>
</div>