<div class="wrapper-login">
    <h1 class="login-title"></h1>
    <form method="POST" action="/login" class="wrapper-form">
        <h2 class="form-title">ENTRA EN BLOCKCHAIN</h2>
        <div class="form-group">
            <label for="username"></label>
            <input type="text" class="form-control credentials-btn" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control credentials-btn" id="password" name="password" placeholder="Enter Password">
        </div>
        <a href="" class="password__reminder hidden">¿Olvidaste tu contraseña?</a>
        <div class="password__reminder"></div>
        <button type="submit" class="btn btn-primary login-tutorial">LOGIN</button>
    </form>
</div>
