<div class="container upload-wrapper">
    <div class="upload-header">
        <p class="upload-title">ISDA Contract</p>
    </div>

    <div class="main-form">

        <form method="POST" action="/modify" enctype="form-data" class="grid-form">
            <div class="form-group grid-item1 spec__modify-item1">
                <label for="key" class="bold grid__item-title">ISDA:</label>
                <p class="form-control">{{data.isdaname}}</p>
            </div>
            <div class="form-group grid-item5">
                <label for="startDate" class="bold grid__item-title">Start date of the ISDA Agreement:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" value="{{data.startdate}}">
            </div>
            <div class="form-group grid-item6">
                <label for="endDate" class="bold grid__item-title">End date of the ISDA Agreement:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" value="{{data.enddate}}">
            </div>
            <div class="form-group grid-item7">
                <label for="counterPartyA" class="bold grid__item-title">Counterparty A Name:</label>
                <input type="text" class="form-control" id="counterPartyA" name="counterPartyA" value="{{data.counterpartya}}">
            </div>
            <div class="form-group grid-item8">
                <label for="counterPartyB" class="bold grid__item-title">Counterparty B Name:</label>
                <input type="text" class="form-control" id="counterPartyB" name="counterPartyB" value="{{data.counterpartyb}}">
            </div>
            <div class="grid-item9 form-group">
                <label for="namePartyA" class="bold grid__item-title">Name Party A:</label>
                <input type="text" class="form-control" id="namePartyA" name="namePartyA" value="{{data.namepartya}}">
            </div>
            <div class="grid-item10 form-group">
                <label for="namePartyB" class="bold grid__item-title">Name Party B:</label>
                <input type="text" class="form-control" id="namePartyB" name="namePartyB" value="{{data.namepartyb}}">
            </div>
            <div class="grid-item11 form-group">
                <label for="signatureDateA" class="bold grid__item-title">Signature A date:</label>
                <input type="date" class="form-control" id="signatureDateA" name="signatureDateA" value="{{data.signaturea}}">
            </div>
            <div class="grid-item12 form-group">
                <label for="signatureDateB" class="bold grid__item-title">Signature B date:</label>
                <input type="date" class="form-control" id="signatureDateB" name="signatureDateB" value="{{data.signatureb}}">
            </div>
            <div class="grid-item13 spec__modify-item13 file-wrapper">
                <h4 class="bold file-label">File</h4>
                <iframe class="file" src="{{pdf}}"></iframe>
            </div>
            <div class="form-group grid-item17 spec-btn">
                <input type="hidden" id="key" name="key" value="{{data.isdaname}}-">
                <button class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>