<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<div class="side__menu-wrapper">
    <div class="user__logged-menu">
        <p class="user__name-menu">Marc</p>
    </div>
    <ul class="navbar-nav mr-auto side__menu-list">
        <li class="side__menu-item nav-item active">
            <a class="side__menu-link" href="/dashboard">
                <span class="sr-only">Tutorial</span>
            </a>
        </li>
        <li class="side__menu-item nav-item">
            <a class="side__menu-link" href="/">
                <span class="sr-only">Formulario ISDA</span>
            </a>
        </li>
        <li class="side__menu-item nav-item">
            <a class="side__menu-link" href="/modify">
                <span class="sr-only">Modificar ISDA</span> 
            </a>
        </li>
        <li class="side__menu-item nav-item">
            <a class="side__menu-link" href="/todolist">
                <span class="sr-only">TodoList</span> 
            </a>
        </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" method="GET" action="/logout">
        <button class="btn btn-outline-primary my-2 my-sm-0 side__menu-logout" type="submit">Cerrar sesión</button>
    </form>
</div>