<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../assets/css/table.css">
<div class="table-wrapper">
    <div class="table-header">
        <ul class="table__main-views">
            <li class="table-option">Opción 1</li>
            <li class="table-option">Opción 2</li>
            <li class="table-option">Opción 3</li>
        </ul>
        <div class="table-logo"></div>
        <!-- <img src="" alt="logo-empresa" class="table-logo"> -->
    </div>
    <div class="table__detail-wrapper">
        <div class="table-detail">
            <label for="table-trade" class="table__detail-title">Trade</label>
            <input type="text" id="table-trade" class="table__current-document" name="table-trade">
        </div>
        <div class="table-detail">
            <label for="table-date" class="table__detail-title">Date</label>
            <input type="date" id="table-date" class="table__current-document" name="table-date">
        </div>
    </div>
    <div class="table__document-wrapper">
        <ul class="table__views-wrapper">
            <li class="table-views">Vista 1</li>
            <li class="table-views">Vista 2</li>
            <li class="table-views">Vista 3</li>
        </ul>
        <table class="table thead-light">
            <thead class="thead-dark">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>