<div class="container upload-wrapper">
    <div class="upload-header">
        <p class="upload-title">Aprobar el formulario IRS</p>
    </div>
    <div class="main-form">
        <form method="POST" action="/todolistIrs" enctype="form-data" class="grid-form">
            <input type="hidden" class="form-control" id="key" name="key" value="{{data.isdaname}}" />
<input type="hidden" class="form-control" id="var1" name="var1" value="{{data.datefixed}}" />

            <div class="form-group grid-item1">
                <label for="irs" class="bold grid__item-title">IRS:</label>
                <input class="form-control" id="irs" name="irs"  value="{{data.descirs}}" required />
            </div>
            <div class="form-group grid-item2">
                <label for="irs" class="bold grid__item-title">Nominal:</label>
                <input class="form-control" id="nominal" name="nominal"  value="{{data.nominal}}" required />
            </div>
            <div class="form-group grid-item3">
                <label for="startDate" class="bold grid__item-title">Start date of the IRS Agreement:</label>
                <input type="date" class="form-control" id="startDate" name="startDate"  value="{{data.dateinit}}" disabled />
            </div>
            <div class="form-group grid-item4">
                <label for="endDate" class="bold grid__item-title">End date of the IRS Agreement:</label>
                <input type="date" class="form-control" id="endDate" name="endDate"  value="{{data.dateend}}" disabled />
            </div>
            <div class="form-group grid-item5">
                <label for="operationDate" class="bold grid__item-title">Operation date:</label>
                <input type="date" class="form-control" id="operationDate" name="operationDate" value="{{data.dateoperation}}" disabled />
            </div>
            <div class="form-group grid-item6">
                <label for="finalDate" class="bold grid__item-title">Final date:</label>
                <input type="date" class="form-control" id="finalDate" name="finalDate" value="{{data.datefinal}}" disabled />
            </div>
            <div class="form-group grid-item7">
                <label for="counterpartya" class="bold grid__item-title">Counterparty A Name:</label>
                <input class="form-control" id="counterpartya" name="counterpartya" value="{{data.counterpartya}}" disabled />
            </div>
            <div class="form-group grid-item8">
                <label for="counterpartyb" class="bold grid__item-title">Counterparty B Name:</label>
                <input class="form-control sub-grid" id="counterpartyb" name="counterpartyb" value="{{data.counterpartyb}}" disabled />
            </div>
            <div class="form-group grid-item9">
                <label for="qtyfixed" class="bold grid__item-title">Quantity fixed:</label>
                <input class="form-control" id="qtyfixed" name="qtyfixed" value="{{data.qtyfixed}}" disabled />
            </div>
            <div class="form-group grid-item10">
                <label for="qtyvariable" class="bold grid__item-title">Quatity variable:</label>
                <input class="form-control" id="qtyvariable" name="qtyvariable" value="{{data.qtyvariable}}" disabled />
            </div>
            <div class="form-group grid-item11">
                <label for="years" class="bold grid__item-title">Years:</label>
                <input class="form-control" id="years" name="years" value="{{data.years}}" disabled />
            </div>
            <div class="form-group grid-item12">
                <label for="variablepayment" class="bold grid__item-title">Payment type:</label>
                <input class="form-control" id="paymentype" name="paymentype" value="{{data.paymenttype}}" disabled />
            </div>
            <div class="form-group grid-item13">
                <label for="fixedpayment" class="bold grid__item-title">Fixed type:</label>
                <input class="form-control sub-grid" id="fixedpayment" name="fixedtype" value="{{data.fixedtype}}" disabled />
            </div>
            <div class="form-group grid-item14">
                <label for="variablepayment" class="bold grid__item-title">Variable type:</label>
                <input class="form-control" id="variablepayment" name="variabletype" value="{{data.variabletype}}" disabled />
            </div>

            <div class="form-group grid-item15">
                <label for="price" class="bold grid__item-title">Price:</label>
                <input class="form-control" id="price" name="price" required />
            </div>
                <div class="form-group grid-item21 spec-btn">
                    <button type="submit" class="btn btn-primary">Aprobar IRS</button>
                </div>
        </form>

                        <div class="table__wrapper">
                             <table>
                                 <caption class="bold">{{data.isdaname}}</caption>
                                 <tbody class="tbody">
                                     <tr class="tr">
                                         <th>Operation date</th>
                                         <th>Event Date</th>
                                         <th>Effective Date</th>
                                         <th>Contract</th>
                              <!--  -->  <th>Counterparty A</th>
                                         <th>Counterparty B</th>
                                         <th>Business Day Convention</th>
                                         <th>Day Count Fraction</th>
                                         <th>Interest Rate</th>
                                         <th>Floating Rate</th>
                                         <th>Floating Rate Index</th>
                                         <th>Tenor</th>
                                         <th>Currency</th>
                                         <th>Spread</th>
                                         <th>Quatity Paid</th>
                                         <th>Payer Party</th>
                                         <th>Receiver Party</th>
                                     </tr>

                                 </tbody>
                             </table>
                         </div>
    </div>

    <script>
    function table_generator() {
           let tableBody = document.querySelector('.tbody');
           let columns;
           var key2 = document.getElementById('var1').value;
           let rowsNumber = key2.length;
           console.log(key2, 'rowsNumber')

           for (let j = 0; j < rowsNumber; j++) {
               columns = document.createElement('tr');
               columns.className = "tr";
               for (let prop in key2) {
                   let cell = document.createElement('td');
                   j % 2 === 0 ? cell.className = 'odd' : cell.className = 'even';
                   let cellText = document.createTextNode(key2[prop][j]);
                   cell.appendChild(cellText);
                   columns.appendChild(cell);
               }

               tableBody.appendChild(columns);
           }
       }
    table_generator();
</script>
</div>
