<div class="form-group wrapper-login">
    <div class="wrapper-form search__docs-wrapper">
        <label for="name" class="form-label">Documento IRS</label>
            {{#if docs}}
            <select class="search__docs-select" id="documentIRS" name="documentIRS">
                {{#each docs}}
                <option>{{this}}</option>
                {{/each}}
            </select>
            <br/>
            <button onClick="getIRS()" class="btn search-btn">Mostrar</button>
            {{else}}
            <input disabled type="text" class="form-control" value="   No hay documentos"> {{/if}}
        </div>
    </div>

    <a type="hidden" id="getter"></a>
    <script>
        function getIRS() {
            var key = document.getElementById('documentIRS').value;
            document.getElementById('getter').href = "/todolistRisk/" + key;
            document.getElementById('getter').click();
        }
    </script>
</div>
