.grid-form2 {
    height: 490px;
    margin: 20px 80px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #545454;
}

.grid-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid-item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.grid-item4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.grid-item5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-item6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-item7 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.grid-item8 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.grid-item9 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.grid-item10 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.grid-item11 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.grid-item12 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.grid-item {
    width: 265px;
    height: 36px;
}
.grid-larger-item {
    width: 711.17px;
}